In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# the following line allows ipython to display plots
%matplotlib inline

In [5]:
# read this csv file, remember to put the full path to 
# the directory where you saved the data
# df is DataFrame object
df = pd.read_csv (r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\job_events\part-00000-of-00500.csv',header=None, nrows=100)
print (df)    # see the first 5 rows of the loaded table

    0   1          2  3                                             4  5  \
0   0 NaN    3418309  0  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=  3
1   0 NaN    3418314  0  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=  3
2   0 NaN    3418319  0  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=  3
3   0 NaN    3418324  0  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=  3
4   0 NaN    3418329  0  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=  3
.. ..  ..        ... ..                                           ... ..
95  0 NaN  595842024  0  ZUNwIYC0XEQe353zPNrBI/+i8m+m7KnqQTNEBhAL7dY=  0
96  0 NaN  609252510  0  5vPHh8lVMgN6Bzkhe69G0RgnMRWbFSBd9PBrK5S7cg4=  2
97  0 NaN  609252512  0  5vPHh8lVMgN6Bzkhe69G0RgnMRWbFSBd9PBrK5S7cg4=  2
98  0 NaN  609252514  0  5vPHh8lVMgN6Bzkhe69G0RgnMRWbFSBd9PBrK5S7cg4=  2
99  0 NaN  609252516  0  5vPHh8lVMgN6Bzkhe69G0RgnMRWbFSBd9PBrK5S7cg4=  2

                                               6  \
0   IHgtoxEBuUTHNbUeVs4hzptMY4n8rZKLbZg+Jh5fNG4=
1   L52XDyhi9x9ChmVBZ1qavOFmnzPeVsvQ2QyGmBZcV4s=
2   vq0IN3BWEbkDjYgYvkrVyH6OWoUoDwFFf3j/syEZzLA=
3   X+Vce15Yu3BCKb7Ttc6hvINAzdfG3NtYEDNNsPdMGKo=
4   EeK3DUWYi1P0vgBTp7wZdUos8UKj/+/FqudTLohMQ9M=
..                                           ...
95  zAUyoymjdueqHuci7EAbSYM488owqqFN6SeDFuw3uuo=
96  Bto5ZzrtG8X6LzCCfzpId850PJQmjMifTjPC5O+w1RA=
97  yrrF+1dNUMZE7yLZhtg3NqS8B+ojU/6NcD0nNbkXCBk=
98  G90HiI5CPSfbsw7s9DSebOcYuSfukMkKnF7zCk9/VEU=
99  TPWFU83H73cYFvzSJXHlkybpbc3xFBlMLQyr1o4BRnA=

                                               7
0   wAmgn2H74cdoMuSFwJF3NaUEaudVBTZ0/HaNZBwIpEQ=
1   ShNjeaoUeqGV2i9WMKEX9HTeuc9K2Fdfovibt7Mp6qI=
2   1A2GM17AzHRcKJcJet/oIF7FOORyFcAOcUSpR9Fqou8=
3   seczVo7MBfi/kH3+eH/40Hxs0l2YKFtXFnamcvMjSQI=
4   OEeQsaVr4kdGHFwQ2liQlDZ18529HEMmu6B6/3K1cBA=
..                                           ...
95  tDwpraMyIQ7vIgGsq+VK+vJNnBgJ5aGuZWwmKyS6WSA=
96  Ypmsy9RiRL/wO7S9+haF8PPFMPUn0rVyOzQHBzWaUHA=
97  JhArrPHnW+t6/0QsemsSs1Pp2iJhAu5R3MgKu4PIfes=
98  /GG5SMQLDnF9OhXnFL2A/PwGtKGuaB2kAFiCI/SVQbo=
99  aRtKzTxF3qBvhobEtVoxYYipkwQzzp5O36yYzidbOiQ=

[100 rows x 8 columns]

In [6]:
# add header
df.columns = ["time", "missing info", "job ID", "event type", "user", "scheduling class", "job name", "logical job name"]

In [15]:
print (df.head())

   time  missing info   job ID  event type  \
0     0           NaN  3418309           0
1     0           NaN  3418314           0
2     0           NaN  3418319           0
3     0           NaN  3418324           0
4     0           NaN  3418329           0

                                           user  scheduling class  \
0  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
1  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
2  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
3  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
4  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3

                                       job name  \
0  IHgtoxEBuUTHNbUeVs4hzptMY4n8rZKLbZg+Jh5fNG4=
1  L52XDyhi9x9ChmVBZ1qavOFmnzPeVsvQ2QyGmBZcV4s=
2  vq0IN3BWEbkDjYgYvkrVyH6OWoUoDwFFf3j/syEZzLA=
3  X+Vce15Yu3BCKb7Ttc6hvINAzdfG3NtYEDNNsPdMGKo=
4  EeK3DUWYi1P0vgBTp7wZdUos8UKj/+/FqudTLohMQ9M=

                               logical job name
0  wAmgn2H74cdoMuSFwJF3NaUEaudVBTZ0/HaNZBwIpEQ=
1  ShNjeaoUeqGV2i9WMKEX9HTeuc9K2Fdfovibt7Mp6qI=
2  1A2GM17AzHRcKJcJet/oIF7FOORyFcAOcUSpR9Fqou8=
3  seczVo7MBfi/kH3+eH/40Hxs0l2YKFtXFnamcvMjSQI=
4  OEeQsaVr4kdGHFwQ2liQlDZ18529HEMmu6B6/3K1cBA=

In [20]:
job_events = df.dropna(thresh=2)

In [21]:
print (job_events)

    time  missing info     job ID  event type  \
0      0           NaN    3418309           0
1      0           NaN    3418314           0
2      0           NaN    3418319           0
3      0           NaN    3418324           0
4      0           NaN    3418329           0
..   ...           ...        ...         ...
95     0           NaN  595842024           0
96     0           NaN  609252510           0
97     0           NaN  609252512           0
98     0           NaN  609252514           0
99     0           NaN  609252516           0

                                            user  scheduling class  \
0   70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
1   70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
2   70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
3   70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
4   70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                 3
..                                           ...               ...
95  ZUNwIYC0XEQe353zPNrBI/+i8m+m7KnqQTNEBhAL7dY=                 0
96  5vPHh8lVMgN6Bzkhe69G0RgnMRWbFSBd9PBrK5S7cg4=                 2
97  5vPHh8lVMgN6Bzkhe69G0RgnMRWbFSBd9PBrK5S7cg4=                 2
98  5vPHh8lVMgN6Bzkhe69G0RgnMRWbFSBd9PBrK5S7cg4=                 2
99  5vPHh8lVMgN6Bzkhe69G0RgnMRWbFSBd9PBrK5S7cg4=                 2

                                        job name  \
0   IHgtoxEBuUTHNbUeVs4hzptMY4n8rZKLbZg+Jh5fNG4=
1   L52XDyhi9x9ChmVBZ1qavOFmnzPeVsvQ2QyGmBZcV4s=
2   vq0IN3BWEbkDjYgYvkrVyH6OWoUoDwFFf3j/syEZzLA=
3   X+Vce15Yu3BCKb7Ttc6hvINAzdfG3NtYEDNNsPdMGKo=
4   EeK3DUWYi1P0vgBTp7wZdUos8UKj/+/FqudTLohMQ9M=
..                                           ...
95  zAUyoymjdueqHuci7EAbSYM488owqqFN6SeDFuw3uuo=
96  Bto5ZzrtG8X6LzCCfzpId850PJQmjMifTjPC5O+w1RA=
97  yrrF+1dNUMZE7yLZhtg3NqS8B+ojU/6NcD0nNbkXCBk=
98  G90HiI5CPSfbsw7s9DSebOcYuSfukMkKnF7zCk9/VEU=
99  TPWFU83H73cYFvzSJXHlkybpbc3xFBlMLQyr1o4BRnA=

                                logical job name
0   wAmgn2H74cdoMuSFwJF3NaUEaudVBTZ0/HaNZBwIpEQ=
1   ShNjeaoUeqGV2i9WMKEX9HTeuc9K2Fdfovibt7Mp6qI=
2   1A2GM17AzHRcKJcJet/oIF7FOORyFcAOcUSpR9Fqou8=
3   seczVo7MBfi/kH3+eH/40Hxs0l2YKFtXFnamcvMjSQI=
4   OEeQsaVr4kdGHFwQ2liQlDZ18529HEMmu6B6/3K1cBA=
..                                           ...
95  tDwpraMyIQ7vIgGsq+VK+vJNnBgJ5aGuZWwmKyS6WSA=
96  Ypmsy9RiRL/wO7S9+haF8PPFMPUn0rVyOzQHBzWaUHA=
97  JhArrPHnW+t6/0QsemsSs1Pp2iJhAu5R3MgKu4PIfes=
98  /GG5SMQLDnF9OhXnFL2A/PwGtKGuaB2kAFiCI/SVQbo=
99  aRtKzTxF3qBvhobEtVoxYYipkwQzzp5O36yYzidbOiQ=

[100 rows x 8 columns]

In [23]:
machine_attributes = pd.read_csv (r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\machine_attributes\part-00000-of-00001.csv',header=None, nrows=100)

In [24]:
machine_attributes.columns = ["time", "machine ID", "attribute name", "attribute value", "attribute deleted"]
print (machine_attributes.head())

   time  machine ID                                attribute name  \
0     0           5  +8aLrMrUBQLYLD4Ndxi/ZmwwKGhtFGskL8ZSdChYMdo=
1     0           5  4chZqkETND7f4XrzdWLe8c1eLHKuYgjnUMSV+83EYFA=
2     0           5  5dEuieuWMFy+CNMBBf/uXNX5nP4Kgzeu0O6UizRNK3w=
3     0           5  81Cd14q4ebyI/3TPkkIwGYlB/mvKhBUk3e/E8egb4s0=
4     0           5  9eCGRtl6XN5GQoOYGEjKtupBbtUoOaOPYRFw+pzH7IU=

  attribute value  attribute deleted
0               1                  0
1               1                  0
2               2                  0
3               2                  0
4               2                  0

In [31]:
df2 = pd.read_csv (r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\machine_events\part-00000-of-00001.csv',header=None, nrows=100)

In [32]:
df2.columns = ["time", "machine ID", "event type", "platform ID", "CPUs","Memory"]
print (df2)

    time  machine ID  event type  \
0      0           5           0
1      0           6           0
2      0           7           0
3      0          10           0
4      0          13           0
..   ...         ...         ...
95     0      421569           0
96     0      421571           0
97     0      421574           0
98     0      421578           0
99     0      421587           0

                                     platform ID  CPUs  Memory
0   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
1   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
2   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
3   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
4   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
..                                           ...   ...     ...
95  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995
96  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995
97  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995
98  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995
99  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995

[100 rows x 6 columns]

In [33]:
machine_events = df2.dropna()
print (machine_events)

    time  machine ID  event type  \
0      0           5           0
1      0           6           0
2      0           7           0
3      0          10           0
4      0          13           0
..   ...         ...         ...
95     0      421569           0
96     0      421571           0
97     0      421574           0
98     0      421578           0
99     0      421587           0

                                     platform ID  CPUs  Memory
0   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
1   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
2   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
3   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
4   HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.2493
..                                           ...   ...     ...
95  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995
96  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995
97  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995
98  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995
99  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=   0.5  0.4995

[100 rows x 6 columns]

In [38]:
df3 = pd.read_csv (r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\task_constraints\part-00000-of-00500.csv',header=None, nrows=100)

In [39]:
df3.columns = ["time", "job ID", "task index", "comparison operator", "attribute name","attribute value"]
print (df3)

    time    job ID  task index  comparison operator  \
0      0   3418314           0                    1
1      0   3418314           0                    0
2      0   3418314           1                    1
3      0   3418314           1                    0
4      0   3418368           0                    1
..   ...       ...         ...                  ...
95     0  17109330          12                    0
96     0  17109330          13                    1
97     0  17109330          13                    0
98     0  17109330          14                    1
99     0  17109330          14                    0

                                  attribute name  attribute value
0   mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
1   o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=              NaN
2   mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
3   o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=              NaN
4   mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
..                                           ...              ...
95  o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=              NaN
96  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
97  o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=              NaN
98  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
99  o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=              NaN

[100 rows x 6 columns]

In [40]:
task_constraints = df3.dropna()
print (task_constraints)

    time    job ID  task index  comparison operator  \
0      0   3418314           0                    1
2      0   3418314           1                    1
4      0   3418368           0                    1
6      0   3418368           1                    1
8      0   3418368           2                    1
10     0   3418375           0                    1
12     0   3418380           0                    1
14     0   3418380           1                    1
16     0   3418400           0                    1
18     0   3418400           1                    1
20     0   3418405           0                    1
22     0   3418405           1                    1
24     0   3418405           2                    1
26     0   3418405           3                    1
28     0   3418412           0                    1
30     0   3418412           1                    1
32     0   3418417           0                    1
34     0   3418417           1                    1
36     0   3418427           0                    1
38     0   3418427           1                    1
40     0   3418432           0                    1
42     0   3418432           1                    1
44     0   3418437           0                    1
46     0   3418437           1                    1
48     0   6590371           0                    1
50     0   6590371           1                    1
52     0   6590376           0                    1
54     0   6590376           1                    1
56     0   6590391           0                    1
58     0   6590391           1                    1
60     0   6724949           0                    1
62     0   6724949           1                    1
64     0   7053513           0                    2
66     0   7053513           1                    2
68     0   7053513           2                    2
70     0  17109330           0                    1
72     0  17109330           1                    1
74     0  17109330           2                    1
76     0  17109330           3                    1
78     0  17109330           4                    1
80     0  17109330           5                    1
82     0  17109330           6                    1
84     0  17109330           7                    1
86     0  17109330           8                    1
88     0  17109330           9                    1
90     0  17109330          10                    1
92     0  17109330          11                    1
94     0  17109330          12                    1
96     0  17109330          13                    1
98     0  17109330          14                    1

                                  attribute name  attribute value
0   mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
2   mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
4   mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
6   mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
8   mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
10  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
12  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
14  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
16  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
18  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
20  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
22  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
24  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
26  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
28  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
30  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
32  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
34  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
36  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
38  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
40  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
42  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
44  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
46  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
48  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
50  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
52  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
54  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
56  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
58  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
60  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
62  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
64  QlHb0NMTSytpaiRqXo9rzLE+wu5f7Cx4uvIm3KZc8lQ=              7.0
66  QlHb0NMTSytpaiRqXo9rzLE+wu5f7Cx4uvIm3KZc8lQ=              7.0
68  QlHb0NMTSytpaiRqXo9rzLE+wu5f7Cx4uvIm3KZc8lQ=              7.0
70  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
72  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
74  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
76  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
78  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
80  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
82  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
84  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
86  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
88  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
90  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
92  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
94  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
96  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
98  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0

In [61]:
print (task_constraints.head())

   time   job ID  task index  comparison operator  \
0     0  3418314           0                    1
2     0  3418314           1                    1
4     0  3418368           0                    1
6     0  3418368           1                    1
8     0  3418368           2                    1

                                 attribute name  attribute value
0  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
2  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
4  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
6  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0
8  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=              0.0

In [51]:
df4 = pd.read_csv (r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\task_events\part-00000-of-00500.csv',header=None, nrows=100)

In [52]:
df4.columns = ["time", "missing info", "job ID", "task index", "machine ID","event type", "user", "scheduling class", "priority", "CPU request", "memory request", "disk space request", "different machines restriction"]

In [53]:
task_event = df4[['time', 'job ID', 'task index', 'event type', 'scheduling class', 'priority', 'CPU request', 'memory request', 'disk space request']] 
print (task_event)

    time   job ID  task index  event type  scheduling class  priority  \
0      0  3418309           0           0                 3         9
1      0  3418309           1           0                 3         9
2      0  3418314           0           0                 3         9
3      0  3418314           1           0                 3         9
4      0  3418319           0           0                 3         9
..   ...      ...         ...         ...               ...       ...
95     0  6590391           0           0                 3         9
96     0  6590391           1           0                 3         9
97     0  6724944           0           0                 3         9
98     0  6724944           1           0                 3         9
99     0  6724949           0           0                 3         9

    CPU request  memory request  disk space request
0           NaN             NaN                 NaN
1           NaN             NaN                 NaN
2       0.12500         0.07446            0.000424
3       0.12500         0.07446            0.000424
4           NaN             NaN                 NaN
..          ...             ...                 ...
95      0.03125         0.08765            0.000470
96      0.03125         0.08765            0.000470
97          NaN             NaN                 NaN
98          NaN             NaN                 NaN
99      0.03125         0.08472            0.000463

[100 rows x 9 columns]

In [54]:
task_events = task_event.dropna(subset=['CPU request', 'memory request', 'disk space request'])

In [55]:
print (task_events)

    time   job ID  task index  event type  scheduling class  priority  \
2      0  3418314           0           0                 3         9
3      0  3418314           1           0                 3         9
45     0  3418368           0           0                 3         9
46     0  3418368           1           0                 3         9
47     0  3418368           2           0                 3         9
48     0  3418375           0           0                 3         9
50     0  3418380           0           0                 3         9
51     0  3418380           1           0                 3         9
61     0  3418400           0           0                 3         9
62     0  3418400           1           0                 3         9
63     0  3418405           0           0                 3         9
64     0  3418405           1           0                 3         9
65     0  3418405           2           0                 3         9
66     0  3418405           3           0                 3         9
67     0  3418412           0           0                 3         9
68     0  3418412           1           0                 3         9
69     0  3418417           0           0                 3         9
70     0  3418417           1           0                 3         9
73     0  3418427           0           0                 3         9
74     0  3418427           1           0                 3         9
75     0  3418432           0           0                 3         9
76     0  3418432           1           0                 3         9
77     0  3418437           0           0                 3         9
78     0  3418437           1           0                 3         9
87     0  6590371           0           0                 3         9
88     0  6590371           1           0                 3         9
89     0  6590376           0           0                 3         9
90     0  6590376           1           0                 3         9
95     0  6590391           0           0                 3         9
96     0  6590391           1           0                 3         9
99     0  6724949           0           0                 3         9

    CPU request  memory request  disk space request
2       0.12500         0.07446            0.000424
3       0.12500         0.07446            0.000424
45      0.03125         0.08691            0.000455
46      0.03125         0.08691            0.000455
47      0.03125         0.08691            0.000455
48      0.06250         0.09277            0.000494
50      0.18750         0.09839            0.000861
51      0.18750         0.09839            0.000861
61      0.12500         0.09082            0.000470
62      0.12500         0.09082            0.000470
63      0.06250         0.09277            0.000494
64      0.06250         0.09277            0.000494
65      0.06250         0.09277            0.000494
66      0.06250         0.09277            0.000494
67      0.12500         0.09021            0.000821
68      0.12500         0.09021            0.000821
69      0.18750         0.09106            0.000829
70      0.18750         0.09106            0.000829
73      0.12500         0.08691            0.000470
74      0.12500         0.08691            0.000470
75      0.06250         0.09473            0.000470
76      0.06250         0.09473            0.000470
77      0.06250         0.09485            0.000494
78      0.06250         0.09485            0.000494
87      0.18750         0.01590            0.000071
88      0.18750         0.01590            0.000071
89      0.06250         0.12400            0.000545
90      0.06250         0.12400            0.000545
95      0.03125         0.08765            0.000470
96      0.03125         0.08765            0.000470
99      0.03125         0.08472            0.000463

In [62]:
print (task_events.head())

    time   job ID  task index  event type  scheduling class  priority  \
2      0  3418314           0           0                 3         9
3      0  3418314           1           0                 3         9
45     0  3418368           0           0                 3         9
46     0  3418368           1           0                 3         9
47     0  3418368           2           0                 3         9

    CPU request  memory request  disk space request
2       0.12500         0.07446            0.000424
3       0.12500         0.07446            0.000424
45      0.03125         0.08691            0.000455
46      0.03125         0.08691            0.000455
47      0.03125         0.08691            0.000455

In [59]:
df5 = pd.read_csv (r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\task_usage\part-00000-of-00500.csv',header=None, nrows=100)
df5.columns = ["start time", "end time", "job ID", "task index", "machine ID", "CPU rate", "canonical memory usage"
              , "assigned memory usage" , "unmapped page cache", "total page cache", "maximum memory usage"
              , "disk I/O time", "local disk space usage", "maximum CPU rate", "maximum disk IO time"
              , "cycles per instruction", "memory accesses per instruction"
              , "sample portion", "aggregation type", "sampled CPU usage"]
usage = df5[['start time', 'end time', 'job ID', 'task index', 'CPU rate', 'canonical memory usage', 'assigned memory usage'
             , 'unmapped page cache', 'total page cache', 'maximum memory usage', 'local disk space usage', 'maximum CPU rate']] 
print(usage)

    start time   end time   job ID  task index  CPU rate  \
0    600000000  900000000  3418309           0  0.001562
1    600000000  900000000  3418309           1  0.001568
2    600000000  900000000  3418314           0  0.000307
3    600000000  900000000  3418314           1  0.000300
4    600000000  900000000  3418319           0  0.000461
..         ...        ...      ...         ...       ...
95   600000000  900000000  6590391           0  0.000464
96   600000000  900000000  6590391           1  0.000482
97   600000000  900000000  6724944           0  0.001270
98   600000000  900000000  6724944           1  0.001160
99   600000000  900000000  6724949           0  0.000271

    canonical memory usage  assigned memory usage  unmapped page cache  \
0                  0.06787                0.07568             0.001156
1                  0.06787                0.07556             0.000319
2                  0.08044                0.09521             0.000282
3                  0.08044                0.09521             0.000537
4                  0.07715                0.08740             0.000625
..                     ...                    ...                  ...
95                 0.09094                0.09912             0.000354
96                 0.09106                0.09912             0.000360
97                 0.07410                0.08545             0.000707
98                 0.07446                0.08545             0.000435
99                 0.07874                0.08740             0.000813

    total page cache  maximum memory usage  local disk space usage  \
0           0.001503               0.06787                0.000187
1           0.000700               0.06787                0.000188
2           0.000670               0.08044                0.000184
3           0.000870               0.08044                0.000183
4           0.000852               0.07715                0.000204
..               ...                   ...                     ...
95          0.000565               0.09094                0.000210
96          0.000584               0.09106                0.000208
97          0.001190               0.07410                0.000196
98          0.000895               0.07446                0.000214
99          0.001236               0.07874                0.000203

    maximum CPU rate
0           0.039670
1           0.033020
2           0.023770
3           0.007919
4           0.005112
..               ...
95          0.006790
96          0.006645
97          0.010190
98          0.009064
99          0.004715

[100 rows x 12 columns]

In [60]:
task_usage = usage.dropna(subset=['CPU rate', 'canonical memory usage', 'assigned memory usage'])
print(task_usage)

    start time   end time   job ID  task index  CPU rate  \
0    600000000  900000000  3418309           0  0.001562
1    600000000  900000000  3418309           1  0.001568
2    600000000  900000000  3418314           0  0.000307
3    600000000  900000000  3418314           1  0.000300
4    600000000  900000000  3418319           0  0.000461
..         ...        ...      ...         ...       ...
95   600000000  900000000  6590391           0  0.000464
96   600000000  900000000  6590391           1  0.000482
97   600000000  900000000  6724944           0  0.001270
98   600000000  900000000  6724944           1  0.001160
99   600000000  900000000  6724949           0  0.000271

    canonical memory usage  assigned memory usage  unmapped page cache  \
0                  0.06787                0.07568             0.001156
1                  0.06787                0.07556             0.000319
2                  0.08044                0.09521             0.000282
3                  0.08044                0.09521             0.000537
4                  0.07715                0.08740             0.000625
..                     ...                    ...                  ...
95                 0.09094                0.09912             0.000354
96                 0.09106                0.09912             0.000360
97                 0.07410                0.08545             0.000707
98                 0.07446                0.08545             0.000435
99                 0.07874                0.08740             0.000813

    total page cache  maximum memory usage  local disk space usage  \
0           0.001503               0.06787                0.000187
1           0.000700               0.06787                0.000188
2           0.000670               0.08044                0.000184
3           0.000870               0.08044                0.000183
4           0.000852               0.07715                0.000204
..               ...                   ...                     ...
95          0.000565               0.09094                0.000210
96          0.000584               0.09106                0.000208
97          0.001190               0.07410                0.000196
98          0.000895               0.07446                0.000214
99          0.001236               0.07874                0.000203

    maximum CPU rate
0           0.039670
1           0.033020
2           0.023770
3           0.007919
4           0.005112
..               ...
95          0.006790
96          0.006645
97          0.010190
98          0.009064
99          0.004715

[100 rows x 12 columns]

In [63]:
print(task_usage.head())

   start time   end time   job ID  task index  CPU rate  \
0   600000000  900000000  3418309           0  0.001562
1   600000000  900000000  3418309           1  0.001568
2   600000000  900000000  3418314           0  0.000307
3   600000000  900000000  3418314           1  0.000300
4   600000000  900000000  3418319           0  0.000461

   canonical memory usage  assigned memory usage  unmapped page cache  \
0                 0.06787                0.07568             0.001156
1                 0.06787                0.07556             0.000319
2                 0.08044                0.09521             0.000282
3                 0.08044                0.09521             0.000537
4                 0.07715                0.08740             0.000625

   total page cache  maximum memory usage  local disk space usage  \
0          0.001503               0.06787                0.000187
1          0.000700               0.06787                0.000188
2          0.000670               0.08044                0.000184
3          0.000870               0.08044                0.000183
4          0.000852               0.07715                0.000204

   maximum CPU rate
0          0.039670
1          0.033020
2          0.023770
3          0.007919
4          0.005112